:root {
  --main-color: hsl(195, 85%, 41%);
  --dark-color: hsl(0, 0%, 0%);
  --light-color: hsl(210, 20%, 90%);
}
:disabled {
  --light-color: hsl(0, 0%, 50%);
}
body {
  background-color: hsl(206, 29%, 9%);
  color: var(--light-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 15.4rem;
  height: 18rem;
}
button {
  all: unset;
  border-radius: 0.5rem;
}
#selected-iframe {
  margin: 0.7rem 0.5rem 0;
  padding: 0.6rem 0 0;
  display: flex;
  flex-direction: column;
  width: 14rem;
  text-align: left;
}
legend {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-size: 0.8rem;
  max-width: 13rem;
  max-height: 1.1rem;
  overflow: hidden;
  margin: 0 0 0 0.2rem;
  padding: 0.1rem 0.3rem;
}
label, input {
  margin: 0.1rem 0.5rem;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
}
label {
  color: var(--light-color);
}
#options {
  display: flex;
  flex-direction: row;
  margin: 0.7rem 0.5rem 0.3rem;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}
#options > * {
  margin: 0;
}
#view {
  width: 1.3rem;
  height: 1.3rem;
  fill: var(--light-color);
  border-top-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
#discard {
  color: var(--light-color);
  border: 0.1rem solid var(--light-color);
  font-size: 1rem;
  font-weight: 300;
  padding: 0.15rem 0.5rem;
}
.select {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 500;
  padding: 0.25rem 0;
  min-width: 14rem;
  width: 92%;
}
#select-iframe {
  margin: 0.8rem 0.5rem 0.1rem;
  background-color: var(--main-color);
  color: var(--light-color);
}
#select-to-fullview {
  margin: 0.1rem 0.5rem 0.5rem;
  background-color: var(--light-color);
  color: var(--dark-color);
}
.shortcut {
  font-size: 0.85rem;
  font-weight: 300;
  color: hsl(0, 0%, 13%);
}
#end-selection {
  display: none;
  margin: 0rem 0.5rem 0.5rem;
  padding: 0rem;
  font-size: 0.9rem;
  font-weight: 300;
  text-decoration: underline dotted 0.03rem;
}
#select-iframe:hover, #select-to-fullview:hover, #discard:hover, #view:hover, #end-selection:hover {
  cursor: pointer;
}
#end-selection:hover {
  color: hsl(51, 100%, 50%);
}